[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
box2d-py = "*"
numba = "*"
jax = "*"
dm-haiku = "*"
optax = "*"
numpy = "*"
PyFixedReps-andnp = ">=1.0.0"
PyExpUtils-andnp = ">=3.0.0"
replaytables-andnp = "*"
rlglue = {ref = "0.4", git = "ssh://****@github.com/andnp/RlGlue"}
pyexpplotting = {ref = "0.8", git = "ssh://****@github.com/andnp/PyExpPlotting"}
pyrlenvs = {ref = "0.25", git = "ssh://****@github.com/andnp/PyRlEnvs"}

[dev-packages]
matplotlib = "*"
flake8 = "*"

[requires]
python_version = "3.10"
